@model ForgotPassowrdDTO
@{
    ViewData["Title"] = "Password Reset Confirmation";
}

<link rel="stylesheet" href="~/css/Login.css" />

<div class="main-content">
    <div class="con">
        <div class="auth-container" id="password-reset-confirmation-form">

            <div class="auth-header">
                <h2>Password Reset Instructions Sent</h2>
                <p>We've sent an email to <strong>@Model.Email</strong> with instructions on how to reset your password. Please check your inbox.</p>
            </div>
            <div class="form-footer">
                <p>If you don’t see the email in your inbox, check your spam or junk folder. Still need help? <a href="/contact">Contact Support</a></p>
                <p><a asp-action="Login">Back to Login</a></p>
            </div>
        </div>
    </div>
</div>
